* {
  box-sizing: border-box;
  
}

/*
///////////////////////////////////////////////////////////////////////////////////
*/

.bg {
  background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}
.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(0);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
      transform: translateZ(-1800px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
}
.star-field {
  position:absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
      524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
      440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
      -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
      -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
      828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
      624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
      563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
      -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
      -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}


@media screen and (max-width: 800px) {
  html, body {
    overflow-x: hidden;
    }

    .bg {
      background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -3;
    }
    .bg:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      opacity: 0.3;
    }
    @keyframes sf-fly-by-1 {
      from {
          transform: translateZ(-600px);
          opacity: 0.5;
      }
      to {
          transform: translateZ(0);
          opacity: 0.5;
      }
    }
    @keyframes sf-fly-by-2 {
      from {
          transform: translateZ(-1200px);
          opacity: 0.5;
      }
      to {
          transform: translateZ(-600px);
          opacity: 0.5;
      }
    }
    @keyframes sf-fly-by-3 {
      from {
          transform: translateZ(-1800px);
          opacity: 0.5;
      }
      to {
          transform: translateZ(-1200px);
          opacity: 0.5;
      }
    }
    .star-field {
      position:absolute;
      /* top: 0;
      left: 0; */
      width: 100%;
      height: 100%;
      perspective: 600px;
      -webkit-perspective: 600px;
      z-index: -1;
    }
    .star-field .layer {
      box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
          524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
          440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
          -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
          -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
          828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
          624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
          563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
          -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
          -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
      transform-style: preserve-3d;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 4px;
      width: 4px;
      border-radius: 2px;
    }
    .star-field .layer:nth-child(1) {
      animation: sf-fly-by-1 5s linear infinite;
    }
    .star-field .layer:nth-child(2) {
      animation: sf-fly-by-2 5s linear infinite;
    }
    .star-field .layer:nth-child(3) {
      animation: sf-fly-by-3 5s linear infinite;
    }
  }



/*
///////////////////////////////////////////////////////////////////////////////////
*/

a {
  /* text-decoration: none; */
  color: rgb(255, 255, 255); 

  background:
  linear-gradient(
    to right,
    rgba(100, 200, 200, 1),
    rgba(100, 200, 200, 1)
  ),
  linear-gradient(
    to right,
    rgb(0, 255, 191),
    rgb(237, 255, 73),
    rgb(23, 139, 255)
);
background-size: 100% 3px, 0 3px;
background-position: 100% 100%, 0 100%;
background-repeat: no-repeat;
transition: background-size 400ms;
}

/* a:hover {
background-size: 0 3px, 100% 3px;
} */

.applink {
  color: white;
}

.app_link_api_div {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #003640;
  letter-spacing: 1px;
  color: white;
  border: 1px solid;
  border-color: #c9ed29;
  padding: 10px;
  max-width: 700px;
}

.app_link_app_div {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #003640;
  letter-spacing: 1px;
  color: white;
  border: 1px solid;
  border-color: #c9ed29;
  padding: 10px;
  max-width: 700px;
}

.app_link_app_algo_1 {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0px;
  color: white;
  background-color:#003640;
  border: 1px solid;
  padding: 10px;
  border-color:#c9ed29;
  max-width: 900px;
  }

/* .app_link_app_algo_inner {
  overflow-x: auto;
  padding: 20px;
  background-color: #28cd8b58;
  border: 2px solid;
  border-color: rgba(255, 255, 0, 0.508);
} */

.emailbtn-style {
  text-decoration: none;
  color: rgb(50, 224, 175);
}

.emailbtn-style:hover {
  background-size: 0 3px, 100% 3px;
}

#btn {
  border-color: #3dffc5;
  background-color: #014333a0;
  padding-bottom: 3px;
}

.wrapper {
  margin-left: 1rem;
  border-radius: 5px;
}

.content-describe{
  font-family:'Courier New', Courier, monospace;
  height: auto; 
  max-height: 1000px; 
  padding: 0;
  color: white; 
  overflow: hidden;
  transition-property: opacity, max-height;
  transition-duration: 1s, 0.5s;
}

.activator {
font-family: Arial, Helvetica, sans-serif;
color: #ffffff;
cursor: pointer;
padding: .5em;
}


.block {
display: block;
margin: 0.5em;
padding: 0.5em;
border-radius: 5px;
}


/* details */
.wrapper .activator:after {
font-family: Arial, Helvetica, sans-serif;
content: "🌿";
height: 1em;
width: 1em;
display: inline-block;
transition: transform 0.3s linear;
}

.wrapper.collapsed .activator:after {
transform: rotate(-0.25turn);
}

.wrapper.collapsed .content-describe{
max-height: 0;
opacity: 0;
}

body {
  /* background-color:#01164f; */
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

header {
  display:flex;
  text-align: center;
  color: whitesmoke;
  padding: 20px;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
html, body {
  overflow-x: hidden;
  }
}


.timeline-container {
padding: 2rem;
padding-bottom: 400px;
margin: 0 auto;
max-width: 800px;

}

.top-left {
text-align: center;
padding: 4rem 0;
max-width: 600px;
margin: 0 auto;
}

.top-left h1 {
font-family: 'Courier New', Courier, monospace;
}

.timeline-line {
position: relative;
min-height: 150px;
}

.line{
position: absolute;
left: calc(50% - 1px);
width: 2px;
top: -50px;
bottom: -50px;
background-color: #575656eb;
display: none;
}

.line:before,
.line:after{
position: absolute;
display: block;
content: '';
height: 1rem;
width: 1rem;
border-radius: 50%;
background-color: #ffffff;
left: 50%;
transform: translateX(-50%);
box-shadow: rgb(255, 255, 255) 1px 0 20px;

}

.line:after{
bottom: 0;
background-color: #ffffff;
box-shadow: rgb(255, 255, 255) 1px 0 20px;
}

.section{
display: flex;
opacity: 0;
transform: translateX(-100%);
transition: 600ms ease;
position: relative;
margin: 50px 0;
padding: 1rem;
border-radius: 1rem;
align-items:center;
min-height: 300px;
}

.section:nth-child(odd){
flex-direction: row-reverse;
transform: translateX(100%);
}

.dash{
position:absolute;
display: block;
height: 1rem;
width: 1rem;
border-radius: 50%;
background-color: #ffffff ;
left: 50%;
top: 20%;
transform: translateX(-50%);
box-shadow: rgb(255, 255, 255) 1px 0 20px;
}

.main-description {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #003640;
  letter-spacing: 1px;
  color: white;
  border: 1px solid;
  border-color: #29eda5;
  padding: 10px;
  max-width: 700px;
}

.description {
font-family: 'Courier New', Courier, monospace;
background-color: #014e4369;
color: white;
border: 1px solid;
padding: 10px;
border-color:#29eda5;
max-width: 300px;
}

content {
width: calc(50% - 2rem);
}

.show-me:nth-child(n){
transform: none;
opacity: 1;
}

h1 {
letter-spacing: 1px;
}

h2 {
background-color: #01224564;

font-family: 'Titillium Web';
color: rgba(255, 255, 255, 0.818);
text-shadow:
    0 0 7px rgba(255, 255, 255, 0.645),
    0 0 10px rgba(255, 255, 255, 0.657),
    0 0 21px #fff,
    0 0 42px rgb(0, 191, 255),
    0 0 82px rgb(0, 47, 255),
    0 0 92px rgb(255, 0, 153),
    0 0 102px rgb(255, 0, 123),
    0 0 151px rgb(255, 0, 140);
}

.timeline-container h1 {
font-size: 22px;
}

.hamburger-button {
display: none;
}

.menu-icon {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(35, 25, 235) 40%,
    rgb(58, 206, 179) 98%,
    rgb(239, 240, 245) 100%
  );
  border-radius: 50%;
  position:relative;
}

.menu-icon:before {
  margin: -15px;
  padding: 8px;
  position: absolute;
  content: '';
  width: 20%;
  height:20%;
  border-radius: 100%;
  border-bottom: 0 solid #9af7e3e9;
  box-shadow: 0 -10px 20px 20px #ffffff inset,
    0 -10px 20px 10px #3cf5a5 inset, 0 -2px 5px #87c9a5f0 inset,
    0 -1px 1px #30ff86f1 inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
    0 1px 1px #d9c8ecec, 0 10px 15px #63f0f0ef, 0 10px 20px 20px #7ef8bb65;
  filter: blur(3px) drop-shadow(16px 16px 20px #ffffff) ;
  animation: 3s rotate linear infinite;
}
@keyframes rotate {
  100% { transform: rotate(360deg) }
}


.ul-nav, a#open_to_work {
  margin-inline-end: 0.75em;
  list-style: none;
  justify-content: center;
  color: #ffffff;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  text-align: right;
  transition: all 0.3s ease 0s;
} 

.ul-nav[data-visible="true"] {
transform: translateX(0%);
z-index: 1;
}


@media (max-width: 35em) {
h2 {
  text-align: center;
}
.ul-nav {
  text-align: left;
  position: fixed;
  inset: 0 0 0 30%;
  padding: 14rem 5rem;
  
  -webkit-backdrop-filter: blur(10px);
  background: rgba(88, 98, 174, 0.185);
  backdrop-filter: blur(1rem);

  transform: translateX(100%);
  
  
  @supports (backdrop-filter: blur(1rem)) {
    .ul-nav {
      background: rgba(88, 98, 174, 0.185);
      backdrop-filter: blur(1rem);
    }
  }

}

.hamburger-button {
  display: block;
  position: absolute;
  border-radius: 100%;
  border-color: white;
  aspect-ratio: 1;
  box-shadow:
  0 0 10px 9px rgb(255, 255, 255),
  0 0 60px 20px rgb(6, 245, 201),
  0 0 50px 11px rgb(87, 205, 187);
  filter: drop-shadow(16px 16px 70px #7511f7) ;
  top: 2rem;
  right: 2rem;
  z-index: 3;
}

.hamburger-button:before {
  display: block;
  position: absolute;
  box-shadow: 0 -10px 20px 20px #ffffff inset,
    0 -10px 20px 10px #3cf5a5 inset, 0 -2px 5px #87c9a5f0 inset,
    0 -1px 1px #30ff86f1 inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
    0 1px 1px #d9c8ecec, 0 10px 15px #ba63f0ef, 0 10px 20px 20px #7ef8bb65;
  filter: blur(3px) drop-shadow(16px 16px 20px #f7b211) ;
  animation: 3s rotate linear infinite;
  }
  
@keyframes rotate {
  100% { transform: rotate(360deg) }
  }

.hamburger-button[aria-expanded="true"] {
  box-shadow: 0 -10px 20px 20px #faf7f7 inset,
  0 0px 20px 20px #0660f265;
  filter: blur(2px) drop-shadow(30px -9px 30px #f4f2f5) ;
  }  

.hamburger-button[aria-expanded="true"]:hover {
  box-shadow: 0 -1px 20px 10px #136e8f inset,
  0 0px 20px 20px #fcfbf9,
  0 0px 20px 20px hsl(51, 75%, 53%);
  filter: blur(2px) drop-shadow(30px -9px 30px #f4f2f5) ;
  } 

}


.ul-nav, span#open_to_work:hover {
  color: rgb(0, 0, 0);
}
.ul-nav, a#creations:hover {
  color: lightgreen
}
.ul-nav, a#bio:hover {
  color: cyan
}

.hamburger-button:hover {
background-color: #5ac396;
filter: drop-shadow(16px 16px 20px #1134f7) ;
}

.parent-container {
  width: 90%;
  margin: auto;
  padding: 10px;
}

.title-container {
  display: inline-block;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;

}

.title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: poppins;
  overflow: hidden;
  border-right: .15em solid rgb(247, 247, 247);
  white-space: nowrap;
  animation: 
  typing 1s steps(20, end) forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.fetchQuotes {
  text-align: center;
  border: 1px solid 63c595;
  color: black;
  padding: 10px;
  margin: 10px;
  font-family: "poppins", sans-serif;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}  
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

button {
  margin: 10px;
  background-color: #74e98d;
  border: 1px #7c40ff solid;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
  background-color: mintcream;
  font-family: "poppins", sans-serif;

}

button:hover {
  background-color: #eeeeeefc;
  cursor: pointer;
}

input {
  font-family: "Poppins", sans-serif;
  background-color: #002930;
  border: 1px #172920 solid; 
  color:#93344c;
}

input:hover {
  background-color:#003640 ;
}

.sun-moon  {
  color: white;
  cursor: pointer;
 }

 .sun-moon:hover  {
  cursor: pointer;
  color: rgb(249, 249, 0);
 }



@media screen and (max-width: 35em) {
  .sun-moon  {
    cursor: pointer;
    margin: 0 4rem;
   }

  .sun-moon:hover  {
    cursor: pointer;
    color: yellow;
    /* filter: drop-shadow(16px 16px 20px #000208) */
  }

  .sun-moon:active  {
    cursor: pointer;
    color: rgb(5, 0, 0); 
    /* filter: drop-shadow(16px 16px 20px #000208); */
    }

  .appImg {
    width: 100%;
    height: auto;
    margin-top: 10px;
    }

  }

  .algo_description {
    background-color: rgb(3, 0, 155);
    margin: 13px;
    padding: 8px;
  }

  #buttons {
    display: flex;
    list-style: none;
    
    }

  #javaScript_button {
    color: rgb(50, 224, 175);
    background-color: #250287a0;
    border-color: #5d3dff;
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    margin: 5px;
    font-family: "poppins", sans-serif;
    font-size: 13px;
    
  }

  #java_button {
    color: rgb(50, 224, 175);
    background-color: #250287a0;
    border-color: #5d3dff;
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    margin: 5px;
    font-family: "poppins", sans-serif;
    font-size: 13px;
    
  }

  .js_java {
    overflow-x: auto;
    background-color: rgb(16, 162, 155);
    margin: 1px;
    padding: 13px;
  }

  .loadingDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #015e5d89;
  }
  
  .loadingDiv::after {
    content: "";
    width: 60px;
    height: 60px;
    /* border: 15px solid #dddddd; */
    /* border-top-color: #1ecd97; */
    border-radius: 50%;
    box-shadow: 10px 1px 20px 1px rgb(126, 238, 171);
    animation: loading 0.75s ease infinite;
  }

  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }