* {
    box-sizing: border-box;
  
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
}

header {
    display:flex;
    text-align: center;
    color: whitesmoke;
    padding: 20px;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.menu-icon {
    width: 10px;
    height: 10px;
    background: linear-gradient(
      165deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(35, 25, 235) 40%,
      rgb(58, 206, 179) 98%,
      rgb(239, 240, 245) 100%
    );
    border-radius: 50%;
    position:relative;
  }

  .menu-icon:before {
    margin: -15px;
    padding: 4px;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #9af7e3e9;
    box-shadow: 0 -10px 20px 20px #ffffff inset,
      0 -10px 20px 10px #3cf5a5 inset, 0 -2px 5px #87c9a5f0 inset,
      0 -1px 1px #30ff86f1 inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
      0 1px 1px #d9c8ecec, 0 10px 15px #ba63f0ef, 0 10px 20px 20px #7ef8bb65;
    filter: blur(3px) drop-shadow(16px 16px 20px #f71111) ;
    animation: 3s rotate linear infinite;
  }
  @keyframes rotate {
    100% { transform: rotate(360deg) }
  }

.ul-nav, a#blog #creations #bio {
    margin-inline-end: 0.75em;
    list-style: none;
    justify-content: center;
    color: #333;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    text-align: right;
    transition: all 0.3s ease 0s;
} 

@media (max-width: 35em) {
  .ul-nav {
    position: fixed;
    inset: 0 0 0 30%;
    background:#002930;
    flex-direction: column;
    padding: 14rem 5rem;
    text-align: left;
    
  }
}

.ul-nav, a#blog:hover {
    color: aquamarine;
}
.ul-nav, a#creations:hover {
    color: lightgreen
}
.ul-nav, a#bio:hover {
    color: cyan
}

.parent-container {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.title-container {
    display: inline-block;
}

.title {
    text-align: center;
    color: white;
    font-family: poppins;
    overflow: hidden;
    border-right: .15em solid #74e98d;
    white-space: nowrap;
    animation: 
    typing 1s steps(20, end) forwards;
    font-size: 1.6rem;
    width: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


.fetchQuotes {
    text-align: center;
    border: 1px solid 63c595;
    color: white;
    padding: 10px;
    margin: 10px;
    font-family: "poppins", sans-serif;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}  
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

button {
    margin: 10px;
    background-color: #74e98d;
    border: 1px #7c40ff solid;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
    background-color: mintcream;
    font-family: "poppins", sans-serif;

}

button:hover {
    background-color: #333;
    color: aliceblue;
    cursor: pointer;
}

input {
    font-family: "Poppins", sans-serif;
    background-color: #002930;
    border: 1px #63c595 solid; 
    color:#63c595;
}

input:hover {
    background-color:#003640 ;
}




